body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /* Выравниваем содержимое по центру по вертикали */
}

.CardActions button {
  color: white;
  background-color: red;
}

.CardActions button.delete-button {
  color: white;
  background-color: red;
  transition: background-color 0.3s; /* добавляем плавный переход */
}

.CardActions button.delete-button:hover {
  background-color: darkred;
}

.ProductList {
  display: flex;
  flex-wrap: wrap; /* Позволяет карточкам переноситься на следующую строку, если не помещаются на текущей */
  justify-content: flex-start; /* Располагает элементы от начала контейнера */
}

.Card {
  margin: 10px;
  width: 300px;
}
